body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
    background-color: #b6dfd7;
    color: black;
}

header {
    background-color: #b6dfd7;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0px;
}

nav {
    background-color: #b6dfd7;
    padding: 10px;
    text-align: center;
}

nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #6acaba;
}

nav a:hover {
    background-color: #489ea1;
}

.intro {
    margin: 10px;
    padding: 10px;
    font-size: 19px;
}

.in2 {
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
    /* Используем flexbox для расположения элементов */
    align-items: center;
    /* Вертикальное центрирование элементов */
    width: 100%;
    border-style: solid;
    border-radius: 20px;
    background-color: #92d4c9;
    border-color: black;
    margin-top: 30px;
}

.map {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.text1 {
    text-align: center;
    width: 450px;
    margin-left: 100px;
    font-size: 20px;
    padding: 15px;
}

.image1 {
    height: auto;
    width: 800px;
}

.image {
    max-width: 400px;
    /* Ограничиваем ширину изображения */
    height: auto;
    /* Сохраняем пропорции изображения */
    margin: 15px;
}

.text {
    flex: 1;
    /* Позволяем тексту занимать оставшееся пространство */
    margin: 10px;
}

.more-button {
    display: block;
    /* Делаем ссылку блочным элементом для применения стилей */
    margin-right: 100px;
    padding: 10px 15px;
    /* Внутренние отступы для кнопки */
    background-color: #007BFF;
    /* Цвет фона кнопки */
    color: white;
    /* Цвет текста кнопки */
    text-decoration: none;
    /* Убираем подчеркивание текста ссылки */
    border-radius: 5px;
    /* Закругляем углы кнопки */
    cursor: pointer;
    /* Указываем, что элемент кликабельный */
    float: right;
}

.more-button:hover {
    background-color: #003115;
    /* Цвет фона кнопки при наведении */
}